ARCORE_BASE_URL=https://clientes.arcore.com:37001
ARCORE_USER=
ARCORE_PASSWORD=
TEST_CODIGO=82502
TEST_MARCA_ID=S8
TEST_SUPERMEDIDA=
TIENDANUBE_ACCESS_TOKEN=
TIENDANUBE_STORE_ID=
TIENDANUBE_USER_AGENT=Arcore POC (tu-email@example.com)
TIENDANUBE_TEST_PRICE=1000
TIENDANUBE_DRY_RUN=true
