# Java
*.class
*.jar
*.war
*.ear

# Maven
target/

# Gradle
.gradle/
build/

# Eclipse
.settings/
.project
.classpath
bin/

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Archivos sensibles
.env
*.key
*.pem
claves.*
secrets.*

# Google Drive placeholders
*.gdoc
*.gsheet
*.gslides